# Missão
- Importar as tabelas enviadas em excel (Vendas, TbProduto, TbMeta) para um banco de dados relacional (My SQL, SQLite, SQL Server ou preferencialmente PostgreSQL)
- Ou importar para uma estrutura de dados do Python (lista ou dicionário ou preferencialmente dataframe pandas)

Importação das estruturas de dados em Python utilizando Pandas

In [102]:
import pandas as pd
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_column', 100)

In [211]:
vendas = pd.read_excel('Dados2021vmar22.xlsx', sheet_name='Vendas') #index_col=2
produto = pd.read_excel('DadosProdutos.xlsx', sheet_name='TbProduto')
meta = pd.read_excel('DadosProdutos.xlsx', sheet_name='TbMeta')

# Questões - 1
Qual é o Cliente com maior quantidade de itens comprados no ano de 2021? Qual a quantidade de itens comprados por ele?

Cliente 53, com 1305 itens comprados.

In [325]:
q1 = vendas.groupby(['IDCliente']).sum('Quantidade').sort_values('Quantidade', ascending=False).iloc[0:5]

In [326]:
q1

           IDProduto  Quantidade  PreçoUnitário  CustoUnitário
IDCliente
53              2182        1305       336738.2    197389.0350
80              2288        1192       303756.3    162868.2498
4               1642        1121       266334.8    145749.8637
109             1704        1084       295352.5    175665.3570
107             1435        1077       235773.2    125691.7923

# 2 
Qual produto apresentou a maior margem absoluta (R$) em 2021? Qual o valor da margem absoluta dele?  
Obs: Margem Absoluta = Receita(quantidade * preço_unitário) - Impostos (Receita * % Imposto do produto) - Custo total (custo_unit * quantidade)

O produto que apresentou maior margem absoluta foi o 5, com margem absuta de 39115.7325

In [300]:
q2 = vendas.copy()

In [301]:
q2 = vendas.merge(produto, on='IDProduto', how='left')

In [302]:
q2.insert(10, 'Receita', (q2['Quantidade'] * q2['PreçoUnitário']))

In [303]:
q2.insert(11, 'CalculoImposto', (q2['Receita'] * q2['Imposto']))

In [304]:
q2.insert(12, 'CustoTotal', (q2['CustoUnitário'] * q2['Quantidade']))

In [305]:
q2.insert(13, 'MargemAbsoluta', (q2['Receita'] - (q2['CalculoImposto']) - (q2['CustoTotal'])))

In [306]:
q2.sort_values('MargemAbsoluta', ascending=False)

,Pedido,Data,IDCliente,IDProduto,Quantidade,PreçoUnitário,CustoUnitário,Produto,Grupo,Imposto,Receita,CalculoImposto,CustoTotal,MargemAbsoluta
12297,DT - 44460151,2021-09-21,151,5,13,5864.1,2268.7875,Produto 5,A,0.10,76233.3,7623.330,29494.2375,39115.7325
13845,EX - 44469171,2021-09-30,171,5,13,6252.7,2644.2153,Produto 5,A,0.10,81285.1,8128.510,34374.7989,38781.7911
13827,EX - 44373171,2021-06-26,171,5,13,6252.7,2644.2153,Produto 5,A,0.10,81285.1,8128.510,34374.7989,38781.7911
13854,EX - 44508171,2021-11-08,171,5,13,6252.7,2644.2153,Produto 5,A,0.10,81285.1,8128.510,34374.7989,38781.7911
8413,VA - 44226104,2021-01-30,104,4,13,6252.7,2644.2153,Produto 4,A,0.10,81285.1,8128.510,34374.7989,38781.7911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6101,DT - 4452975,2021-11-29,75,13,7,256.2,194.7690,Produto 13,C,0.21,1793.4,376.614,1363.3830,53.4030
6069,DT - 4435875,2021-06-11,75,13,7,256.2,194.7690,Produto 13,C,0.21,1793.4,376.614,1363.3830,53.4030
10753,VA - 44431132,2021-08-23,132,16,6,256.2,194.7690,Produto 16,C,0.21,1537.2,322.812,1168.6140,45.7740
10769,VA - 44483132,2021-10-14,132,16,6,256.2,194.7690,Produto 16,C,0.21,1537.2,322.812,1168.6140,45.7740
10771,VA - 44489132,2021-10-20,132,16,6,256.2,194.7690,Produto 16,C,0.21,1537.2,322.812,1168.6140,45.7740

# 3
Qual produto apresentou a maior margem percentual (%) em 2021? Qual é a margem percentual dele?

Obs: Margem % = Margem Absoluta / (Receita - Impostos). Considerando todas as vendas do ano de 2021. 

O produto que apresentou maior margem percentual foi o produto 2, com margem percentual de 0.603641

In [307]:
q3 = q2.copy()

In [308]:
q3.insert(14, 'MargemPercentual', (q3['MargemAbsoluta'] / (q3['Receita'] - (q3['CalculoImposto']))))

In [309]:
q3.sort_values('MargemPercentual', ascending=False).iloc[0:5]

,Pedido,Data,IDCliente,IDProduto,Quantidade,PreçoUnitário,CustoUnitário,Produto,Grupo,Imposto,Receita,CalculoImposto,CustoTotal,MargemAbsoluta,MargemPercentual
2211,DT - 4431829,2021-05-02,29,2,7,175.8,62.712,Produto 2,A,0.1,1230.6,123.06,438.984,668.556,0.603641
2221,DT - 4436629,2021-06-19,29,2,7,175.8,62.712,Produto 2,A,0.1,1230.6,123.06,438.984,668.556,0.603641
2225,DT - 4440029,2021-07-23,29,2,7,175.8,62.712,Produto 2,A,0.1,1230.6,123.06,438.984,668.556,0.603641
4623,VA - 4448757,2021-10-18,57,5,8,195.9,69.948,Produto 5,A,0.1,1567.2,156.72,559.584,850.896,0.603267
7297,VA - 4452489,2021-11-24,89,6,10,202.6,72.360,Produto 6,A,0.1,2026.0,202.60,723.600,1099.800,0.603159

# 4 
Quais produtos não bateram meta no mês de maio de 2021. Compare a meta com a receita. Resultado deve ser uma lista de produtos

Lista de resultados que não bateram meta: Produto 2, Produto 3, Produto 7, Produto 8, Produto 9, Produto 11, Produto 12, Produto 16, Produto 18, Produto 19, Produto 22, Produto 23, Produto 24.

In [312]:
q4 = vendas.copy()

In [313]:
q4.insert(7, 'Receita', (q4['Quantidade'] * q4['PreçoUnitário']))

In [314]:
q4['Data'] = pd.to_datetime(q4['Data']) 
mask = (q4['Data'] >= '2021-05-01') & (q4['Data'] <= '2021-05-31')

In [315]:
q4_maio = q4.loc[mask].groupby(['IDProduto']).sum('Receita')

In [316]:
receita_maio = q4_maio.merge(produto, on='IDProduto', how='left')

In [317]:
mask_maio = (meta['Data'] == 'maio-2021')

In [318]:
meta_maio = meta.loc[mask_maio]

In [319]:
q4 = receita_maio.merge(meta_maio, on='Produto', how='left')

In [320]:
q4.insert(11, 'NaoBateu', (q4['Receita'] - (q4['Meta'])))

In [321]:
q4 = q4.drop(['IDCliente', 'Quantidade','IDProduto', 'PreçoUnitário', 'CustoUnitário', 'Receita', 'Grupo', 'Imposto', 'Data', 'Meta'], axis=1)

In [322]:
lista_produto = q4[(q4['NaoBateu'] < 0)]

In [323]:
lista_produto = lista_produto['Produto'].values.tolist()

In [324]:
lista_produto

['Produto 2',
 'Produto 3',
 'Produto 7',
 'Produto 8',
 'Produto 9',
 'Produto 11',
 'Produto 12',
 'Produto 16',
 'Produto 18',
 'Produto 19',
 'Produto 22',
 'Produto 23',
 'Produto 24']