# <font color=pink>Ferramentas utilizadas e suas versões:</font>

Pip  - 22.3.1 <br>
Visual Studio Code - 1.73.1 <br>
Python - 3.10.7 
<br><br>

<font color=pink>Bibliotecas:</font>

Pandas<br>
# <font color=pink>
---

# <font color=green>1 - Criando estruturas de dados

In [2]:
import pandas as pd

# <font color=green> Series

In [45]:
data = [1, 2, 3, 4]

In [46]:
s = pd.Series(data)

In [47]:
s

0    1
1    2
2    3
3    4
dtype: int64

In [48]:
index = ['Linha_' + str(i) for i in range(4)]

In [49]:
index

['Linha_0', 'Linha_1', 'Linha_2', 'Linha_3']

In [50]:
s = pd.Series(data = data, index = index)

In [51]:
s

Linha_0    1
Linha_1    2
Linha_2    3
Linha_3    4
dtype: int64

In [52]:
data1 = {'Linha_' + str(i): i + 1 for i in range(4)}

In [53]:
data1

{'Linha_0': 1, 'Linha_1': 2, 'Linha_2': 3, 'Linha_3': 4}

In [54]:
s1 = pd.Series(data1)

In [55]:
s1

Linha_0    1
Linha_1    2
Linha_2    3
Linha_3    4
dtype: int64

In [56]:
s2 = s + 2

In [57]:
s2

Linha_0    3
Linha_1    4
Linha_2    5
Linha_3    6
dtype: int64

In [58]:
s3 = s1 + s2

In [59]:
s3

Linha_0     4
Linha_1     6
Linha_2     8
Linha_3    10
dtype: int64

## <font color=green>Dataframe

## A partir de <font color=green>Lista

In [74]:
dados = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [75]:
type(dados)

list

In [76]:
dados

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [43]:
df1 = pd.DataFrame(data = dados)

In [44]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [60]:
index = ['Linha_' + str(i) for i in range(3)]

In [63]:
columns = ['Coluna_' + str(i) for i in range(3)]

In [64]:
df1 = pd.DataFrame(data=dados, index=index, columns=columns)

In [65]:
df1

         Coluna_0  Coluna_1  Coluna_2
Linha_0         1         2         3
Linha_1         4         5         6
Linha_2         7         8         9

## A partir de <font color=green>Dicionário

In [66]:
dados_dict = {'Coluna_0': {'Linha_0': 1, 'Linha_1': 4, 'Linha_2': 7},
              'Coluna_1': {'Linha_0': 2, 'Linha_1': 5, 'Linha_2': 8},
              'Coluna_2': {'Linha_0': 3, 'Linha_1': 6, 'Linha_2': 9},
              }

In [67]:
dados_dict

{'Coluna_0': {'Linha_0': 1, 'Linha_1': 4, 'Linha_2': 7},
 'Coluna_1': {'Linha_0': 2, 'Linha_1': 5, 'Linha_2': 8},
 'Coluna_2': {'Linha_0': 3, 'Linha_1': 6, 'Linha_2': 9}}

In [68]:
df2 = pd.DataFrame(data = dados_dict)

In [69]:
df2

         Coluna_0  Coluna_1  Coluna_2
Linha_0         1         2         3
Linha_1         4         5         6
Linha_2         7         8         9

## A partir de <font color=green>Tupla

In [70]:
dados_tuple = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [71]:
dados_tuple

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [87]:
df3 = pd.DataFrame(data=dados_tuple, index=index, columns=columns)

In [88]:
df3

         Coluna_0  Coluna_1  Coluna_2
Linha_0         1         2         3
Linha_1         4         5         6
Linha_2         7         8         9

## <font color=green>Concatenação</font> de DataFrames

In [77]:
df1[df1 > 0] = 'A'

In [78]:
df1

        Coluna_0 Coluna_1 Coluna_2
Linha_0        A        A        A
Linha_1        A        A        A
Linha_2        A        A        A

In [79]:
df2[df2 > 0] = 'B'

In [80]:
df2

        Coluna_0 Coluna_1 Coluna_2
Linha_0        B        B        B
Linha_1        B        B        B
Linha_2        B        B        B

In [81]:
df3[df3 > 0] = 'C'

In [82]:
df3

        Coluna_0 Coluna_1 Coluna_2
Linha_0        C        C        C
Linha_1        C        C        C
Linha_2        C        C        C

## Utilizando <font color=green>coluna</font> como variável de link

In [83]:
df4 = pd.concat([df1, df2, df3])

In [84]:
df4

        Coluna_0 Coluna_1 Coluna_2
Linha_0        A        A        A
Linha_1        A        A        A
Linha_2        A        A        A
Linha_0        B        B        B
Linha_1        B        B        B
Linha_2        B        B        B
Linha_0        C        C        C
Linha_1        C        C        C
Linha_2        C        C        C

## Utilizando <font color=green>linha</font> como variável de link

In [85]:
df5 = pd.concat([df1, df2, df3], axis=1)

In [86]:
df5

,Coluna_0,Coluna_1,Coluna_2,Coluna_0,Coluna_1,Coluna_2,Coluna_0,Coluna_1,Coluna_2
Linha_0,A,A,A,B,B,B,C,C,C
Linha_1,A,A,A,B,B,B,C,C,C
Linha_2,A,A,A,B,B,B,C,C,C